:root
{
    --blue: #1A94FF;
    --box-shadow:0 0.5rem 1.5rem rgba(0,0,0,0.1);
    --light-color:#666;
    --black: #38383D;
}

*
{
   
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}
body
{
    background:#f5f5fa;
}
html{
    font-family: roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    scroll-padding-top: 5.5pm;
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    height: 100px;
    background-color: rgb(26, 148, 255);
  }
  
  .header__container {
    position: relative;
    padding-top: 4px;
  }
  
  .logo__container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .logo-tiki {
    margin-top: 15px;
  }
  
  .logo-img {
    width: 60px;
    height: 40px;
  }
  
  .freeship-img {
    width: 83px;
    height: 12px;
    margin-top: 8px;
  }
  
  .mobile__cart {
    display: none;
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 40px;
    letter-spacing: 10px;
  }
  /* search header */
  .search-box {
    margin-left: 15%;
    width: 100%;
  }
  .input-box {
    width: 75%;
  }
  .box {
    padding: 0 12px;
    height: 40px;
    border-radius: 2px;
    border: none;
    outline: none;
    width: 100%;
  }
  
  .search__container {
    margin-top: 15px;
    display: flex;
  }
  
  .search-btn {
    width: 15%;
  }
  
  .search-btn .btn {
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    color: #fff;
    background: rgb(13, 92, 182);
    cursor: pointer;
  }
  
  .search-icon {
    padding: 0 5px;
    font-size: 16px;
  }
  
  .search-img {
    display: none;
  }
  
  .food-bar {
    margin-top: 8px;
  }
  .food-bar a {
    color: #fff;
  }
  
  .food {
    margin-right: 12px;
    font-size: 11px;
  }
  
  .login {
    margin-left: 40px;
    margin-top: 15px;
    display: flex;
  }
  .user-icon {
    margin: 5px 9px 0 0;
    color: #fff;
    width: 32px;
    height: 32px;
    font-size: 28px;
    text-align: center;
  }
  
  .users {
    color: #fff;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }
  
  .log-in {
    font-size: 11px;
    line-height: 12px;
  }
  
  .user {
    font-size: 13px;
    line-height: 34px;
  }
  
  .carts {
    margin-top: 24px;
    position: relative;
    color: #fff;
  }
  
  .cart-icon {
    font-size: 24px;
  }
  .cart {
    font-size: 11px;
  }
  
  .carts__item {
    position: absolute;
    color: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(253, 216, 53);
    left: 18px;
    top: -8px;
  }
  
  .seller {
    border-radius: 10px;
    font-size: 12px;
    padding: 4px 10px;
    margin-left: 25%;
    background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    bottom: 0;
    right: 10px;
  }
  .sell {
    color: #fff;
    padding: 2px 0;
  }
  .store-icon {
    font-size: 12px;
  }
  

/* --------------------- endheader ------------------------ */

/* ------------------navication----------- */

.navigation {
    background-color: white;
    height: 44px;
    width: 100%;
    overflow: hidden;
  }
  .content {
    overflow: hidden;
    position: relative;
    padding: 0 8px;
  }
  .nav {
    display: flex;
    line-height: 44px;
    transition: all 0.5s ease 0s;
    width: 200%;
  }
  
  .icon-arrow-left {
    position: absolute;
    background-color: #fff;
    z-index: 9;
    line-height: 46px;
    left: 0;
    display: none;
    font-size: 17px;
    padding:0 25px;
    cursor: pointer;
    padding-left: 3px;
    padding-right:40px;
  }
  
  .icon-arrow-right {
    position: absolute;
    background-color: #fff;
    z-index: 9;
    line-height: 46px;
    right: 0;
    font-size: 17px;
    padding-left: 20px;
    padding-right:3px;
    cursor: pointer;
  }
.product {
    display: inline-block;
    color: rgb(56, 56, 61);
    font-size: 14px;
    margin: 0px 13px;
  }
/* ---------------section slide home--------- */


.slide_home
{
    height: 269px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.slide_home .container-slide_left 
{
    width: 100%;
    height: 269px;
    overflow: hidden;
    border: .5rem;
    padding-right: .7rem;
    position: relative;
}

.slide_home .container-slide_left .slide_item img
{
    width: 100%;
    height: 100%;
}

.slide_home .container-banner_right 
{
    overflow: hidden;
    border-radius: .5rem;
    height: 269px;
}
.slide_home .container-banner_right image
{
    width: 100%;
    object-fit:cover;
}
.swiper-pagination
{
   /* 
    color: rgba(255, 255, 255, 0.5); */
}
.swiper-pagination-bullet
{
    background-color:rgba(255, 255, 255, 0.5);
    opacity: 1;
}
.swiper-pagination-bullet-active
{
    background:rgb(255, 255, 255);
}

.container-slide_left .swiper-button-next,
.container-slide_left .swiper-button-prev
{
    position: absolute;
    fill: #fff;
    background: var(--light-color);
    padding: 1rem 1.5rem 1rem .5rem;
    color: #fff;
    opacity: .3;
}
.container-slide_left:hover .swiper-button-next,
.container-slide_left:hover .swiper-button-prev
{
    opacity: 1;
}
.swiper-button-next:after
{
   font-size: 25px; 
   text-align: center;
   padding-left: 15px;
   padding-right: 5px;
   font-weight: 500;
}
.swiper-button-prev:after
{
   font-size: 25px; 
   text-align: center;
   padding-left: 25px;
   padding-right: 15px;
   font-weight: 500;
}
.container-slide_left .swiper-button-prev
{
    font-size: 5px;
}
.container-slide_left .swiper-button-next
{
    right: 5px;
}
.container-slide_left .swiper-button-prev
{
    left: 0px;
}
/* -------------------------section price shock------------------- */
.container_price_shork
{
    margin-bottom: 16px;
}
.container_priceShock_bottom
{
    width: 100%;
    position: relative;
}
.container_price_shork .grid
{
   background: #fff;
   border-radius: 6px;
    
}
.container_price_shork .container_priceShock_top
{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 65px;
    border-bottom: 1px solid rgb(244, 244, 244);
}
.container_price_shork .container_priceShock_top .tittle
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dealFlashIcon
{
    width: 21px;
  animation: .8s flash infinite;
   
}
@keyframes flash {
    50% {
      opacity: 0.3;
      transform: scale(1.3);
    }
}
.container_price_shork .container_priceShock_top .time_flashSale
{
    font-size: 16px;
    color: var(--light-color);
    cursor: pointer;
    opacity: .7;
   
}
.container_price_shork .container_priceShock_top .time_flashSale span
{
    background-color: red;
    padding: 4px;
    color: #fff;
    border-radius: .4rem;
    margin-right: 4px;
    font-weight: 500;
}
.container_price_shork .container_priceShock_top .time_flashSale i
{
    font-size: 18px;
    font-weight: 700;
}


.container_price_shork .container_priceShock_bottom
{
   
    position: relative;
    overflow: hidden;
}
.container_priceShock_bottom ul.slide_priceShock_bottom
{
    display: flex;
    margin-top:16px;
    margin-bottom:20px;
    height: 267px;
    list-style: none;
}
.container_price_shork .container_priceShock_bottom li.price_Shok_Item
{
    padding: 12px;
}
.container_price_shork .container_priceShock_bottom .image_shock_item
{
    height: 183px;
    width: 175px;
    overflow: hidden;
    position: relative;
}
.container_price_shork .container_priceShock_bottom .image_shock_item img{
    width: 100%;
    object-fit: cover;
}
.container_price_shork .container_priceShock_bottom .image_shock_item .image_freeship_shock_item
{
    position: absolute;
    height: 16px;
    width: 91px;
    bottom: 0;
    left: 0;
}
.container_priceShock_bottom .price
{
   margin: 1rem 0;
   display: flex;
  
   align-items: center;
}
.container_priceShock_bottom .price span{
    text-transform: lowercase;
    color: red;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
.container_priceShock_bottom .price span.percent_discount
{
    
    border: 1px solid rgb(255, 66, 78);
    border-radius: 2px;
    background-color: rgb(255, 240, 241);
    font-weight: 500;
    padding: 0px 2px;
    line-height: 14px;
    font-size: 12px;
    margin-left: 6px;
}
.container_priceShock_bottom .deal_discount
{
    position: relative;
    width: 100%;
    line-height: 20px;
    display: flex;
    z-index: 1;
}
.container_priceShock_bottom .deal_discount span
{
    width: 100%;
    background-color: red;
    opacity: .3;
    border-radius: 16px;
    line-height: 20px;
    color: #fff;
    text-transform: lowercase;
    text-align: center;
    font-size: 13px;
    z-index: 2;
}

.container_priceShock_bottom .deal_discount .deals_progress
{
    position: absolute;
    background-color: red;
    border-radius: 16px;
    width: 20px;
    opacity: .7;
    left: 0;
    top: 0;
    z-index: 4;
    min-width: 20px;
    height: 20px;
}
.icon_gesture_price_shock
{
    position: absolute;
    top:50%;
    font-size: 30px;
    text-align: center;
    background:var(--light-color);
    color: #eee;
    padding:3px;
    opacity: .5;
    padding-top: 15px;
    padding-bottom: 15px;
}
.icon_gesture_price_shock:hover
{
    opacity: 1;
}


.icon_gesture_price_shock.icon_prav_shockbottom
{
    display:none;
    padding-left: 10px;
    padding-right: 10px;
    top: 120px;
}

.icon_gesture_price_shock.icon_next_shockbottom
{
    right: 0;
    top: 120px;
    padding-left: 10px;
    padding-right: 10px;
}

/* -------------------------------Banner after price shock---------------------------- */
.Banner_after_price_shock .container_banner_item 
{
    width: 100%;
    overflow: hidden;
    display: flex;
   margin-bottom: 16px;
}
.Banner_after_price_shock .swiper-wrapper
{
    width: 100%;

}
/* .Banner_after_price_shock .container_banner_item .banner_item
{
  padding: 0 8px;
} */
.Banner_after_price_shock .container_banner_item .banner_item:first-child
{
    padding-right: 16px;
}
.Banner_after_price_shock .container_banner_item .banner_item:last-child
{
    padding-left: 16px;
}
.Banner_after_price_shock .container_banner_item .banner_item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
/* -----------------info product--------------- */
.info_product .grid
{
    box-shadow: var(--box-shadow);
    margin-bottom: 16px;
}
.info_product
{
    margin-bottom: 16px;
}
.info_product .grid ul.info_product_list
{
    display: flex;
    background-color:#fff;
    list-style: none;
    padding:16px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius:6px;
}
.info_product .grid ul.info_product_list li.item_info_product
{
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    flex-basis: 103px;
    flex-shrink: 0
    
}
.info_product .grid ul.info_product_list li.item_info_product img
{
    width:48px;
    height: 48px;
    object-fit: cover;
}
.info_product .grid ul.info_product_list li.item_info_product span
{
   margin-top:10px;
   font-size:13px;
   font-weight: normal;
   text-transform:none;
   line-height:1.54;
   width:81px;
}
/* -------------banner after info product------------ */
.banner_after_info_product
{
    margin-bottom: 16px;
}
.banner_after_info_product .container_banner_item 
{
    width: 100%;
    overflow: hidden;
    display: flex;
    
}
.banner_after_info_product .container_banner_item .banner_item
{
  padding: 0 8px;

}
.banner_after_info_product .container_banner_item .banner_item:first-child
{
    padding-left: 0px;
}
.banner_after_info_product .container_banner_item .banner_item:last-child
{
    padding-right: 0px;
}
.banner_after_info_product .container_banner_item .banner_item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* -------------brand_auth-------------- */
.brand_auth .grid
{
    background: #fff;
    padding:0 7px
}
.brand_auth .container_brand_auth .brand_auth_top
{
    display: flex;
    justify-content:space-between;
    align-items:center;
    line-height:28px;
    color:rgb(36,36,36);
    padding: 16px;

}
.brand_auth .container_brand_auth .brand_auth_top .main_title
{
    display: flex;
}
.brand_auth .container_brand_auth .brand_auth_top .main_title img
{
    width:24px;
    height:24px;
    margin: 2px 0;
}
.brand_auth .container_brand_auth .brand_auth_top .main_title span
{
    font-size:20px;
    margin-left: 8px;
}
.brand_auth .container_brand_auth .brand_auth_top a
{
    font-size:15px;
    line-height:24px;
    color:rgb(13,92,182);
    text-transform: uppercase;
    cursor: pointer;
}
/* -----------------slide brand auth----------- */
.brand_auth_bottom
{
    overflow: hidden;
    padding: 0 10px;
   
}
.brand_auth_bottom ul.container_banner_item 
{
    width: 100%;
    overflow: hidden;
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
    height: 206px;
   
}
.brand_auth_bottom .container_banner_item .banner_item
{
  width: 612px;
  height: 206px;
padding: 0 5px;
}
.brand_auth_bottom .container_banner_item .banner_item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.brand_auth_bottom .swiper-pagination-bullet
{
    background-color: rgb(224, 224, 224);
}
.brand_auth_bottom .swiper-pagination-bullet-active
{
    background: rgb(26, 148, 255);
}


.brand_auth_bottom .swiper-button-next,
.brand_auth_bottom .swiper-button-prev
{
    position: absolute;
    fill: #fff;
    background: var(--light-color);
    padding: 1rem 1.5rem 1rem .5rem;
    color: #fff;
    opacity: .3;
}
.brand_auth_bottom:hover .swiper-button-next,
.brand_auth_bottom:hover .swiper-button-prev
{
    opacity: 1;
}
.swiper-button-next:after
{
   font-size: 25px; 
   text-align: center;
   padding-left: 15px;
   padding-right: 5px;
   font-weight: 500;
}
.swiper-button-prev:after
{
   font-size: 25px; 
   text-align: center;
   padding-left: 25px;
   padding-right: 15px;
   font-weight: 500;
}
.brand_auth_bottom .swiper-button-prev
{
    font-size: 5px;
}
.brand_auth_bottom .swiper-button-next
{
    right: 15px;
    top:95px;
}
.brand_auth_bottom .swiper-button-prev
{
    top:95px;
    left: 15px;
}


/* ---------------sile after brand auth ------------- */

.container_slide_after_brand_auth
{
     width: 150%; 
    display: flex;
  
}
.container_slide_after_brand_auth_main
{
    width: 100%;
    padding: 0 7px;
    margin: 0 0 16px 0;
    position: relative;
    overflow: hidden;
}

 .slide_after_brand_auth_item
{
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 8px;
    width: 182px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 8px;
    overflow: hidden;
}

 .slide_after_brand_auth_item span
{
    display: block;
    position: absolute;
    color: rgb(26, 148, 255);
    bottom: 8px;
    font-size: 14px;
    margin: 10px;

}

.discount__icon {
    font-size: 32px;
    color: #333;
    opacity: 0.3;
    padding:3px 10px;
    border-radius:50%;
    background:#eee;
    border:1px solid black;
 }
 .discount__icon:hover
 {
     opacity: 1;
 }
 .icon_prav_slide_auth {
     position: absolute;
     top: 50%;
     display:none;
 }


 .icon_next_slide_auth {
    position: absolute;
    top: 50%;
    right: 0;
 }

/* -----------------list feature---------- */
.list_featured{
    margin-top:16px;
}
.list_featured .grid
{
   background: #fff;
   border-radius:6px;
} 
.list_featured .container_list_featured .list_featured_top
{
    display: flex;
    justify-content:space-between;
    align-items:center;
    line-height:28px;
    color:rgb(36,36,36);
    padding: 16px

}
.list_featured .container_list_featured .list_featured_top span
{
    font-size:20px;
    margin-left: 8px;
}
.container_list_featured .list_featured_bottom ul.list_featured_item
{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content:space-between;
    flex-wrap: wrap;

}
.container_list_featured .list_featured_bottom ul.list_featured_item li
{
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    flex-basis: 116px;
    height: 128px;
    flex-shrink: 0;
    margin-bottom: 1rem;
}
.container_list_featured .list_featured_bottom ul.list_featured_item li img
{
    width:60px;
    height: 60px;
    object-fit: cover;
}
.container_list_featured .list_featured_bottom ul.list_featured_item li span
{
    display: block;
    margin-top:10px;
    font-size:13px;
    font-weight: normal;
    line-height:1.54;
    width:81px;
    margin: 12px 0 16px;
}



/* --------------banner after list featured---------- */
.banner_after_featured
{
    margin: 10px 0;
    
}
.banner_after_featured .grid
{
    overflow: hidden;
}
.banner_after_featured .banner_after_featured_item
{
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
}
.banner_after_featured .banner_after_featured_item image
{
    width: 100%;
    object-fit: cover;
}
/*------------------suggest today----------------------- */
/* .suggest_today 
{
    position: sticky;
    top: 0;
} */ 
/* .suggest_today_top .suggest_today_bottom
{
    
} */
.suggest_today 
{
    position: relative;
  
}

.container_suggest_today
{
    position: sticky;
    top: 0;
    z-index: 1000;
    background:#f5f5fa;
}
.suggest_today .container_suggest_today .suggest_today_top
{
    display: flex;
    justify-content:space-between;
    align-items:center;
    color:rgb(36,36,36);
    background-color:#fff;
    margin-bottom: 4px;
    padding: 10px 16px;
    font-size: 20px;
    line-height: 28px;
    border-radius: 4px;
}
   


.suggest_today .container_suggest_today .suggest_today_top span
{
    
    margin-left: 8px;
}
.container_suggest_today .suggest_today_top .menu_suggest
{
    border-radius: 50%;
    font-size: 24px;
    border: 1px solid var(--light-color);
    background-color: var(--light-color);
    padding: 5px 10px;
    opacity: .3;
    display: none;
}


.menu_close {
    width: 40px;
    height:40px;
    border-radius: 50%;
    font-size: 24px;
    border: 1px solid var(--light-color);
    background-color: var(--light-color);
    padding: 5px 10px;
    opacity: .3;
    display: none;
}

.menu_close > i {
    width: 40px;
    height:40px;
}


.container_suggest_today .suggest_today_top .menu_suggest:hover
{
    opacity: .7;
}
.suggest_today .suggest_today_bottom .list_suggest_today
{
    width: 100%;
    display: flex;
    list-style: none;
    margin-bottom: 4px;
    flex-wrap: wrap;
    justify-content:space-between;
}


.suggest_today_bottom .list_suggest_today li.suggest_today_item
{
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 4px 8px;
    background-color: #fff;
    min-height: 60px;
    width: 146px;
    cursor: pointer;
    border-radius: 4px;

}
.suggest_today_bottom .list_suggest_today li.suggest_today_item img
{
    width:48px;
    height: 48px;
    object-fit: cover;
}
.suggest_today_bottom .list_suggest_today li.suggest_today_item span
{
    display: block;
    padding-top:6px;
    font-size:13px;
    font-weight: normal;
    line-height:18px;

}
.suggest_today_item.active
{
    border: 1px solid rgb(13, 92, 182) ;
    color:rgb(13, 92, 182)  ;
}
.container_suggest_today_body
{
    width: 100%;
    background: #fff;
    text-align: center;
    margin: 0 0 16px;
    padding: 0 0 16px;
}
.container_suggest_today_body ul.list_container_suggest_today_body
{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content:space-between;
    flex-wrap: wrap;
  
}
.container_suggest_today_body ul.list_container_suggest_today_body li.container_suggest_today_body_item
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    text-align: center;
    width:  calc(100%/6);
    margin-bottom: 1rem;
    padding: 12px;
    border-radius: 10px;
}
li.container_suggest_today_body_item:hover
{
    opacity: .8;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}
li.container_suggest_today_body_item img
{
    width:182px;
    height: 182px;
    object-fit: cover;
}
li.container_suggest_today_body_item span.title
{
    display: block;
    font-size: 13px;
    margin: 10px 0px 4px;
    line-height: 20px;
    word-break: break-word;
    font-weight: initial;
}
li.container_suggest_today_body_item .vote_amount
{
    display: flex;
    align-items: center;
}
li.container_suggest_today_body_item .vote_amount .stars i
{
    color: #fdd836;
    height: 14;
    width: 14;
    size: 16;
}
li.container_suggest_today_body_item .vote_amount span
{
    padding-left: 4px;
    color: rgb(120, 120, 120);
    font-size: 11px;
}

li.container_suggest_today_body_item  .price
{
    margin: 1rem 0;
   display: flex;
  
   align-items: center;
}
li.container_suggest_today_body_item  .price span{

    text-transform: lowercase;
    color: red;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
li.container_suggest_today_body_item  .price span.percent_discount
{
    border: 1px solid rgb(255, 66, 78);
    border-radius: 2px;
    background-color: rgb(255, 240, 241);
    font-weight: 500;
    padding: 0px 2px;
    line-height: 14px;
    font-size: 12px;
    margin-left: 6px;
}
.infor_suggest_today
{
    width: 100%;
    text-align: left;
}
.view_more
{
    cursor: pointer;
    display: inline-block;
    width: 240px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid rgb(13, 92, 182);
   
    font-size: 13px;
    text-align: center;
    align-self: center;
    font-weight: 550;
}
.view_more a
{
    color: rgb(13, 92, 182);
}
.view_more:hover 
{
    background-color: rgb(13, 92, 182);
    
}
.view_more:hover a
{
    color: #fff;
}
/* --------------------footer---------------------- */
.footer 
{
    box-shadow: var(--box-shadow);
}
.footer .infomation ul.list_container_infomation
{
    width: 100%;
    display: flex;
    justify-content:space-between;
    list-style: none;
}
.footer .infomation ul.list_container_infomation li.container_infomation_item
{
    width:250px;
    height:284px;
    text-align: left;
    overflow: hidden;
    
}
li.container_infomation_item
{
    font-size: 12px;
    line-height:16px;
    font-weight:normal;
    color: rgb(128,128,137);
}
.container_infomation_item .heading
{
    font-size:16px;
    line-height:24px;
    font-weight:500;
    color: rgb(56,56,61);
    margin-bottom:12px;
}
.container_infomation_item p.hot-line
{
    margin-bottom:8px;
}
.container_infomation_item p
{
    font-size:12px;
    line-height:16px;
    color: rgb(128,128,137);
}
.container_infomation_item p.hot-line a
{
    color: rgb(56,56,61);
    font-weight:500;
}
.container_infomation_item a.footer_links
{
    display:block;
    margin-bottom:8px;
    color: rgb(128,128,137);
}
.container_infomation_item .footer_links_title
{
    display: flex;
}
.container_infomation_item a.footer_links:hover
{
    text-decoration: underline;
}
.container_infomation_item .sub_titles{
    margin: 24px 0 12px;
}
.container_infomation_item .img_certification
{
    display: flex;
    width: 100%;
    gap:8px
}
.container_infomation_item .img_certification img
{
    height:36px;
}
.container_infomation_item .payment
{
    width:90%;
    margin-bottom: 12px;
    overflow: hidden;
}
.container_infomation_item .payment img
{
    width:100%;
    object-fit: cover;
}

.container_infomation_item .tiki_now
{
    display:block;
}
.container_infomation_item .tiki_now img
{
    height:40px;
}
.container_infomation_item .download
{
    display: flex;
    gap:8px
}
.container_infomation_item .download .download_qr
{
    width:80px;
    height:80px;
    object-fit: cover;
}
.container_infomation_item .download .download_link
{
    display: flex;
    flex-direction:column;
    width: 120px;
    justify-content:space-between;
}
.container_infomation_item .download .download_link img
{
    width:120px;
    height:36px;
    object-fit: cover;
}

/* ------------display block----------------- */
.display_block
{
    display: block;
}

/* ------------------nav mobile ------------- */

.nav_mobile .container_nav_mobile
{
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 20000;
    background: #fff;
    display: none;
}
.nav_mobile .container_nav_mobile ul.list_nav_mobile
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.nav_mobile .container_nav_mobile ul.list_nav_mobile li.nav_mobile_item
{
    display: flex;
    flex-direction: column;
    
    width: 19%;
    text-align: center;
    color: var(--light-color);
}
ul.list_nav_mobile li.nav_mobile_item .icon_item
{
    color: #666;
    font-size: 17px;
}
ul.list_nav_mobile li.nav_mobile_item .Nav_mobile_title
{
    font-size: 12px;
    font-weight: 500px;
}
.active_nav_mobile
{
    color: #3e41d6;
}



.header_mobile_container .header_mobile_container_top
{
    display: flex;
    font-size:14px;
    color: #fff;
    padding-top: 16px;
    padding-left: 15px;
    align-items: center;
    width: 100%;
}
.header_mobile_container .header_mobile_container_top .header_mobile_logo
{
    overflow: hidden;
   
}
.img_freeShip_top
{
    width:80px;
}
.img_logo_top
{
    width:40px;
    margin-left: 70px;
}
.header_mobile_logo img
{
    width: 100%;
    object-fit: cover;
}
.bell_home
{
    margin-left: 110px;
}
.cart_home_top
{
    margin-left: 10px;
}
.header_mobile_container_bottom
{
    padding:0  15px;
    width:100%;
}
.header_mobile_container_bottom input
{
    width: 100%;
}























/* =======================responsive================ */

@media (min-width: 740px) and (max-width: 1240px){
    .wide
    {
        width: 90%;
    }
  .header  .container
  {
      display: none;
  }
.container_bottom_header .listitem_menu_header
{
    display: flex;
    min-width:80%;
    margin-left: 20px;
}
.container_bottom_header .sales_introduction
{
    display: none
}

}

@media only screen and (max-width:911px)
{
    html{
        font-size: 55%;
    }
    .header  .container
    {
        display: none;
    }
    .slide_home .container-banner_right
{
    display:none;
}
    /* header
    {
        padding: 1rem 2rem;
    } */
    .footer ul.list_container_infomation
    {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .footer ul.list_container_infomation li.container_infomation_item
    {
        width: 45%;
    }
    .container_suggest_today .suggest_today_top .menu_suggest
    {
        display: block;
    }
    
 .suggest_today_bottom
 {
     display: none;
 }

 .suggest_today_bottom.open {
     display: block;
 }

}












@media (max-width:750px)
{ 
    .header
    {
        background: #141694;
    }
    .bell_home,.cart_home_top,.img_freeShip_top
{
    display: block;
}

    html{
        font-size: 55%;
    }
    .container-header .formSearch
    {
        display: flex;
        width:70%;
    }
    .container-header .logo
    {
        padding-bottom: 10px;
    }
    header .container-header .row
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    header .container-header .row .formSearch
    {
        width: 90%;
        justify-content: center;
    }
    header .container-header .row .formSearch .btn
    {
        display: none;
    }
    header .container-header .row .formSearch input
    {
        width: 100%;
        border-radius: 5px;
        padding: 10px 5px;
    }
 .container-header .acount_user
 {
     display: none;
 }
 .container-header .cart_user
 {
     display: none;
 }
 header .container_bottom_header
{
    display: none;
}
.slide_home .container-slide_left
{
    width: 100%;
}

.slide_home .container-banner_right
{
    display:none;
}
.navigation
{
    display: none;
}
.footer 
 {
     width: 100%;

 }
 .footer ul.list_container_infomation
 {
     display:flex;
     flex-direction:column;
     justify-content:center;
 }
 .footer ul.list_container_infomation li.container_infomation_item
 {
     width: 100%;
     padding-left: 20px;
 }
 .container_suggest_today .suggest_today_top .menu_suggest
 {
     display: block;
 }

 .suggest_today_bottom
 {
     display: none;
 }
 .nav_mobile .container_nav_mobile
 {
     display: block;
 }

.brand_auth_bottom .container_banner_item .banner_item
 {
    width: 100%;
    height:100%
 }
 .brand_auth_bottom .container_banner_item .banner_item:last-child
 {
     display:none;
 }
 .list_container_suggest_today_body
 {
     width: 100%;
 }
li.container_suggest_today_body_item
{
 flex-basis: 100%;
 padding:0px 50px;
}
}
