:root
{
    --blue: #1A94FF;
    --box-shadow:0 0.5rem 1.5rem rgba(0,0,0,0.1);
    --light-color:#666;
    --black: #38383D;
}

*
{
    font-family: 'Roboto', sans-serif;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5pm;
    scroll-behavior: smooth;
}

header
{ 
   
    padding-top: 2rem;
    background: var(--blue);
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
     box-sizing: border-box;
   
}
header .container-header
{
    padding-bottom: 1rem;
}
header .logo
{
   
    height: auto;
}
header .logo img
{
    width: 6rem;
    height: auto;
    object-fit: cover;
}
header .formSearch 
{
    width: 100%;
    display: flex;
    padding: 0;
    box-shadow: var(--box-shadow);
}

header .formSearch input
{
    width: 84%;
    padding: 0 1rem;
    color: var(--light-color);
    font-size: 1.3rem;
    text-transform: none;
}
header .formSearch .btn
{
   width: 16%;
    padding: 0 1rem;
    background: #0D5CB6;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.4rem;
    font-weight:500;
}
header .formSearch .btn i{
    font-size:1.6rem;
    margin-right: .5rem;
    color:#eee;
}

.container-header .acount_user
{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.container-header .acount_user .info_user
{
    display: flex;
   flex-direction: column;
   padding:.7rem 0 0 1rem;
   display:column;
   font-size: 1.2rem;
   box-sizing: border-box;
}

.container-header .acount_user i
{
    font-size:3rem;
}
.container-header .acount_user .info_user .fa-caret-down
{
    font-size:1.2rem;
    padding-left: .5rem;
    box-sizing:var(--box-shadow)
}

.container-header .acount_user .info_user span
{
    margin-bottom: .5rem;
}
.container-header .cart_user
{
    color:#fff;
    display: flex;
    font-size:1.3rem;
    justify-content: center;
    align-items: center;
}
.container-header .cart_user .cart_icon
{
    position: relative;
    
}

.container-header .cart_user .cart_icon i
{
    font-size:2.5rem;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 1rem;
}

.container-header .cart_user .cart_icon .amount_cart
{
    position:absolute;
    border-radius: 50%;
    background-color: rgb(236, 210, 63);
    text-align:center;
    padding:.3rem .7rem;
    color:black;
    font-weight: 500;
    font-size:1.4rem;
    top :.2rem;
    right:0;

}
.container-header .cart_user span
{

}
header .container_bottom_header 
{
    display : flex;
    color : #fff;
    font-size: 1.2rem;
    justify-content: space-between;
    
    padding-bottom: 2rem;
  
}
header .container_bottom_header .logo img
{
    width :9rem;
}
header .container_bottom_header ul
{
    display: flex;
    text-decoration:none;
    list-style: none;
    padding: 0;

}
header .container_bottom_header ul li.item_menu_header
{
    padding:0 .6rem;
    text-transform: lowercase;
    
}
header .container_bottom_header ul li.item_menu_header:first-child
{
    padding-left: 0;
}
.container_bottom_header .sales_introduction
{
    position: relative;
}
.container_bottom_header .sales_introduction_box
{
    display: flex;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.25);
    padding:1.2rem 1rem;
    align-items: center;
    position: absolute;
    right: 10px;
    justify-content: center;
    height: 2rem;
    width: 16rem;
}
.container_bottom_header .sales_introduction .icon
{
    padding-right: .5rem;
} 

/* --------------------- endheader ------------------------ */

/* ------------------navication----------- */

.navigation {
    background-color: white;
    height: 44px;
  }
  .content {
    overflow: hidden;
    position: relative;
    padding: 0 8px;
  }
  .nav {
    display: flex;
    line-height: 44px;
    transition: all 0.5s ease 0s;
    width: 200%;
  }
  
  .icon-arrow-left {
    position: absolute;
    background-color: #fff;
    z-index: 9;
    line-height: 46px;
    left: 0;
    display: none;
    font-size: 2.2rem;
    cursor: pointer;
  }
  
  .icon-arrow-right {
    position: absolute;
    background-color: #fff;
    z-index: 9;
    line-height: 46px;
    right: 0;
    font-size: 2.2rem;
    cursor: pointer;
  }
.product {
    display: inline-block;
    color: black;
    font-size: 14px;
    margin: 0px 13px;
  }
/* ---------------section slide home--------- */


.slide_home
{
    height: 269px;
    margin-bottom: 16px;
}
.slide_home .container-slide_left 
{
    width: 100%;
    height: 269px;
    overflow: hidden;
    border: .5rem;
    padding-right: .7rem;
    position: relative;
}

.slide_home .container-slide_left .slide_item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.slide_home .container-banner_right 
{
    overflow: hidden;
    border-radius: .5rem;
    height: 269px;
}
.slide_home .container-banner_right image
{
    width: 100%;
    object-fit:cover;
}
.swiper-pagination
{
    opacity: .8;
    color: rgb(245, 245, 231);
}
.swiper-pagination-bullet-active
{
    background: #fff;
}

.container-slide_left .swiper-button-next,
.container-slide_left .swiper-button-prev
{
    position: absolute;
    fill: #fff;
    background: var(--light-color);
    padding: 1rem 1.5rem 1rem .5rem;
    color: #fff;
    opacity: .3;
}
.container-slide_left:hover .swiper-button-next,
.container-slide_left:hover .swiper-button-prev
{
    opacity: 1;
}
.swiper-button-next:after
{
   font-size: 25px; 
   text-align: center;
   padding-left: 15px;
   padding-right: 5px;
   font-weight: 500;
}
.swiper-button-prev:after
{
   font-size: 25px; 
   text-align: center;
   padding-left: 25px;
   padding-right: 15px;
   font-weight: 500;
}
.container-slide_left .swiper-button-prev
{
    font-size: 5px;
}
.container-slide_left .swiper-button-next
{
    right: 5px;
}
.container-slide_left .swiper-button-prev
{
    left: 0px;
}
/* -------------------------section price shock------------------- */
.container_price_shork
{
    margin-bottom: 2rem;
}
.container_price_shork .grid
{
    box-shadow: var(--box-shadow);
    
}
.container_price_shork .container_priceShock_top
{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 65px;
}
.container_price_shork .container_priceShock_top .tittle
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_price_shork .container_priceShock_top .tittle .dealFlashIcon
{
    width: 32px;
    height: 20px;
   
}
.container_price_shork .container_priceShock_top .time_flashSale
{
    font-size: 16px;
    color: var(--light-color);
    cursor: pointer;
    opacity: .7;
   
}
.container_price_shork .container_priceShock_top .time_flashSale span
{
    background-color: red;
    padding: 4px;
    color: #fff;
    border-radius: .4rem;
    margin-right: 4px;
    font-weight: 500;
}
.container_price_shork .container_priceShock_top .time_flashSale i
{
    font-size: 18px;
    font-weight: 700;
}
.container_price_shork .container_priceShock_bottom
{
    height: 267px;
    position: relative;
    overflow: hidden;
}
.btn_next,.btn_prev
{
    opacity: 0.5;
    position: absolute;
    z-index: 100;
    left: 0;
    color: #fff;
    background: var(--black);
    font-size: 17px;
}
.container_price_shork .container_priceShock_bottom .price_Shok_Item
{
    padding: 12px;
}
.container_price_shork .container_priceShock_bottom .image_shock_item
{
    height: 183px;
    overflow: hidden;
    position: relative;
}
.container_price_shork .container_priceShock_bottom .image_shock_item img{
    width: 100%;
    object-fit: cover;
}
.container_price_shork .container_priceShock_bottom .image_shock_item .image_freeship_shock_item
{
    position: absolute;
    height: 16px;
    width: 91px;
    bottom: 0;
    left: 0;
}
.container_priceShock_bottom .price
{
   margin: 1rem 0;
   justify-content: center;
   align-items: center;
}
.container_priceShock_bottom .price span{
    font-size: 17px;
    text-transform: lowercase;
    color: red;
    font-weight: 500;
    opacity: .8;
    line-height: 24px;
    display: inline-block;
}
.container_priceShock_bottom .price span.percent_discount
{
    border: 1px solid red;
    font-size: 13px;
    line-height: 16px;
    padding: 1px;
    border-radius: 2px;
    font-weight: 400;
}
.container_priceShock_bottom .deal_discount
{
    position: relative;
    width: 100%;
    line-height: 20px;
    display: flex;
    z-index: 1;
}
.container_priceShock_bottom .deal_discount span
{
    width: 100%;
    background-color: red;
    opacity: .3;
    border-radius: 16px;
    line-height: 20px;
    color: #fff;
    text-transform: lowercase;
    text-align: center;
    font-size: 13px;
    z-index: 2;
}

.container_priceShock_bottom .deal_discount .deals_progress
{
    position: absolute;
    background-color: red;
    border-radius: 16px;
    width: 20px;
    opacity: .7;
    left: 0;
    top: 0;
    z-index: 4;
    min-width: 20px;
    height: 20px;
}


.container_priceShock_bottom .swiper-button-next,
.container_priceShock_bottom .swiper-button-prev
{
    position: absolute;
    fill: #fff;
    background: var(--light-color);
    padding: 1rem 1.5rem 1rem .5rem;
    color: #fff;
    opacity: .3;
}
.container_priceShock_bottom:hover .swiper-button-next,
.container_priceShock_bottom:hover .swiper-button-prev
{
    opacity: 1;
}
.swiper-button-next:after
{
   font-size: 25px; 
   text-align: center;
   padding-left: 15px;
   padding-right: 5px;
   font-weight: 500;
}
.swiper-button-prev:after
{
   font-size: 25px; 
   text-align: center;
   padding-left: 25px;
   padding-right: 15px;
   font-weight: 500;
}
.container_priceShock_bottom .swiper-button-prev
{
    font-size: 5px;
}
.container_priceShock_bottom .swiper-button-next
{
    right: 0px;
}
.container_priceShock_bottom .swiper-button-prev
{
    left: 0px;
}
/* 
  
  .btn_next:hover,
  .btn_prev:hover {
    opacity: 1;
    cursor: pointer;
  }
 */
/* -------------------------------Banner after price shock---------------------------- */
.Banner_after_price_shock .container_banner_item 
{
    width: 100%;
    overflow: hidden;
    display: flex;
    margin-bottom: 2rem;
}
.Banner_after_price_shock .swiper-wrapper
{
    width: 100%;

}
.Banner_after_price_shock .container_banner_item .banner_item
{
  margin: 0 8px;

}
.Banner_after_price_shock .container_banner_item .banner_item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
/* -----------------info product--------------- */
.info_product .grid
{
    box-shadow: var(--box-shadow);
    margin-bottom: 2rem;
}
.info_product
{
    margin-bottom: 2rem;
}
.info_product .grid ul.info_product_list
{
    display: flex;
    list-style: none;
    justify-content:space-between;
    padding:2rem 0;
}
.info_product .grid ul.info_product_list li.item_info_product
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    flex-basis: 103px;
    flex-shrink: 0
    
}
.info_product .grid ul.info_product_list li.item_info_product img
{
    width:48px;
    height: 48px;
    object-fit: cover;
}
.info_product .grid ul.info_product_list li.item_info_product span
{
   margin-top:10px;
   font-size:13px;
   font-weight: normal;
   text-transform:none;
   line-height:1.54;
   width:81px;
}
/* -------------banner after info product------------ */
.banner_after_info_product
{
    margin-bottom: 2rem;
}
.banner_after_info_product .container_banner_item 
{
    width: 100%;
    overflow: hidden;
    display: flex;
    margin-bottom: 2rem;
}
.banner_after_info_product .container_banner_item .banner_item
{
  margin: 0 8px;

}
.banner_after_info_product .container_banner_item .banner_item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* -------------brand_auth-------------- */
.brand_auth .grid
{
    box-shadow: var(--box-shadow);
}
.brand_auth .container_brand_auth .brand_auth_top
{
    display: flex;
    justify-content:space-between;
    align-items:center;
    line-height:28px;
    color:rgb(36,36,36);
    padding: 16px;

}
.brand_auth .container_brand_auth .brand_auth_top .main_title
{
    display: flex;
}
.brand_auth .container_brand_auth .brand_auth_top .main_title img
{
    width:24px;
    height:24px;
    margin: 2px 0;
}
.brand_auth .container_brand_auth .brand_auth_top .main_title span
{
    font-size:20px;
    margin-left: 8px;
}
.brand_auth .container_brand_auth .brand_auth_top a
{
    font-size:15px;
    line-height:24px;
    color:rgb(13,92,182);
    text-transform: uppercase;
    cursor: pointer;
}
/* -----------------slide brand auth----------- */
.brand_auth_bottom
{
    margin-bottom: 2rem;
    overflow: hidden;
}
.brand_auth_bottom ul.container_banner_item 
{
    width: 100%;
    overflow: hidden;
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
    height: 206px;
}
.brand_auth_bottom .container_banner_item .banner_item
{
  width: 612px;
  height: 206px;
padding: 0 5px;
}
.brand_auth_bottom .container_banner_item .banner_item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.brand_auth_bottom .swiper-pagination-bullet-active
{
    background: rgb(26, 148, 255);
}


.brand_auth_bottom .swiper-button-next,
.brand_auth_bottom .swiper-button-prev
{
    position: absolute;
    fill: #fff;
    background: var(--light-color);
    padding: 1rem 1.5rem 1rem .5rem;
    color: #fff;
    opacity: .3;
}
.brand_auth_bottom:hover .swiper-button-next,
.brand_auth_bottom:hover .swiper-button-prev
{
    opacity: 1;
}
.swiper-button-next:after
{
   font-size: 25px; 
   text-align: center;
   padding-left: 15px;
   padding-right: 5px;
   font-weight: 500;
}
.swiper-button-prev:after
{
   font-size: 25px; 
   text-align: center;
   padding-left: 25px;
   padding-right: 15px;
   font-weight: 500;
}
.brand_auth_bottom .swiper-button-prev
{
    font-size: 5px;
}
.brand_auth_bottom .swiper-button-next
{
    right: 0px;
}
.brand_auth_bottom .swiper-button-prev
{
    left: 0px;
}
/* ---------------sile after brand auth ------------- */
.slide_after_brand_auth
{
   margin-bottom: 2rem;
}
.container_slide_after_brand_auth
{
    width: 130%;
    display: flex;
}
.slide_after_brand_auth .row
{
    position: relative;
    overflow: hidden;
    height: 289px;
}
.slide_after_brand_auth .slide_after_brand_auth_item
{
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.container_slide_after_brand_auth_main
{
    position: relative;
}
.slide_after_brand_auth .slide_after_brand_auth_item span
{
    display: block;
    position: absolute;
    color: rgb(26, 148, 255);
    bottom: 8px;
    font-size: 14px;
    margin: 10px;

}
.icon_prav, .icon_next
{
    display: flex;
    position: absolute;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    z-index: 200;
}
.icon_prav i, .icon_next i
{
    display: inline-block;
    padding: 10px 12px;
    background: #eee;
    border-radius: 50%;
    opacity: .3;
    border: 1px solid black;
   
}
.icon_prav i:hover, 
.icon_next i:hover
{
    opacity: 1;
    cursor: pointer;
}
.icon_prav
{
    left: 0;
}
.icon_next
{ right: 0;}

/* -----------------list feature---------- */
.list_featured .grid
{
    box-shadow: var(--box-shadow);
} 
.list_featured .container_list_featured .list_featured_top
{
    display: flex;
    justify-content:space-between;
    align-items:center;
    line-height:28px;
    color:rgb(36,36,36);
    padding: 16px

}
.list_featured .container_list_featured .list_featured_top span
{
    font-size:20px;
    margin-left: 8px;
}
.container_list_featured .list_featured_bottom ul.list_featured_item
{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content:space-between;
    flex-wrap: wrap;

}
.container_list_featured .list_featured_bottom ul.list_featured_item li
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    flex-basis: 116px;
    height: 128px;
    flex-shrink: 0;
    margin-bottom: 1rem;
}
.container_list_featured .list_featured_bottom ul.list_featured_item li img
{
    width:60px;
    height: 60px;
    object-fit: cover;
}
.container_list_featured .list_featured_bottom ul.list_featured_item li span
{
    display: block;
    margin-top:10px;
    font-size:13px;
    font-weight: normal;
    line-height:1.54;
    width:81px;
    margin: 12px 0 16px;
}



/* --------------banner after list featured---------- */
.banner_after_featured
{
    margin: 2rem 0;
}
.banner_after_featured .banner_after_featured_item
{
    overflow: hidden;
    border-radius: 30px;
}
.banner_after_featured .banner_after_featured_item image
{
    width: 100%;
    object-fit: cover;
}
/*------------------suggest today----------------------- */
/* .suggest_today 
{
    position: sticky;
    top: 0;
} */ 
/* .suggest_today_top .suggest_today_bottom
{
    
} */
.suggest_today 
{
    position: relative;
}

.container_suggest_today
{
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1000;
}
.suggest_today .container_suggest_today .suggest_today_top
{
    display: flex;
    justify-content:space-between;
    align-items:center;
    line-height:28px;
    color:rgb(36,36,36);
    padding: 16px;
    box-shadow: var(--box-shadow);
    margin: 16.6px 0 4px;

}
.suggest_today .container_suggest_today .suggest_today_top span
{
    font-size:20px;
    margin-left: 8px;
}
.suggest_today .suggest_today_bottom .list_suggest_today
{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content:space-between;
    margin-bottom: 4px;
}
.suggest_today_bottom .list_suggest_today li.suggest_today_item
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    flex-basis: 150px;
    flex-shrink: 0;
    margin-bottom: 1rem;
    padding: 4px 8px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}
.suggest_today_bottom .list_suggest_today li.suggest_today_item img
{
    width:48px;
    height: 48px;
    object-fit: cover;
}
.suggest_today_bottom .list_suggest_today li.suggest_today_item span
{
    display: block;
    margin-top:10px;
    font-size:13px;
    font-weight: normal;
    line-height:18px;
    margin: 12px 0 16px;

}
.suggest_today_item.active
{
    border: 1px solid rgb(13, 92, 182) ;
    color:rgb(13, 92, 182)  ;
}
.container_suggest_today_body
{
    width: 100%;
    box-shadow: var(--box-shadow);
    text-align: center;
    margin: 0 0 16px;
    padding: 0 0 16px;
}
.container_suggest_today_body ul.list_container_suggest_today_body
{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content:space-between;
    margin-bottom: 4px;
    flex-wrap: wrap;
    padding:10px;
  
}
.container_suggest_today_body ul.list_container_suggest_today_body li.container_suggest_today_body_item
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    text-align: center;
    
    flex-basis: 200px;
    flex-shrink: 0;
    margin-bottom: 1rem;
    padding: 12px;
    border-radius: 10px;
}
li.container_suggest_today_body_item:hover
{
    opacity: .8;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}
li.container_suggest_today_body_item img
{
    width:182px;
    height: 182px;
    object-fit: cover;
}
li.container_suggest_today_body_item span.title
{
    display: block;
    font-size: 13px;
    margin: 10px 0px 4px;
    line-height: 20px;
    word-break: break-word;
    font-weight: initial;
}
li.container_suggest_today_body_item .vote_amount
{
    display: flex;
    align-items: center;
}
li.container_suggest_today_body_item .vote_amount .stars i
{
    color: #fdd836;
    height: 14;
    width: 14;
    size: 16;
}
li.container_suggest_today_body_item .vote_amount span
{
    padding-left: 4px;
    color: rgb(120, 120, 120);
    font-size: 11px;
}

li.container_suggest_today_body_item  .price
{
   margin: 1rem 0;
   justify-content: center;
   align-items: center;
}
li.container_suggest_today_body_item  .price span{
    font-size: 17px;
    text-transform: lowercase;
    color: red;
    font-weight: 500;
    opacity: .8;
    line-height: 24px;
    display: inline-block;
}
li.container_suggest_today_body_item  .price span.percent_discount
{
    display: inline-block;
    border: 1px solid red;
    font-size: 13px;
    line-height: 16px;
    padding: 1px;
    border-radius: 2px;
    font-weight: 400;
    margin-left: 10px;
}
.infor_suggest_today
{
    width: 100%;
    text-align: left;
}
.view_more
{
    cursor: pointer;
    display: inline-block;
    width: 240px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid rgb(13, 92, 182);
    color: rgb(13, 92, 182);
    font-size: 13px;
    text-align: center;
}
.view_more:hover
{
    background-color: rgb(13, 92, 182);
    color: #fff;
}
/* --------------------footer---------------------- */
.footer 
{
    box-shadow: var(--box-shadow);
}
.footer .infomation ul.list_container_infomation
{
    width: 100%;
    display: flex;
    justify-content:space-between;
    list-style: none;
}
.footer .infomation ul.list_container_infomation li.container_infomation_item
{
    width:250px;
    height:284px;
    text-align: left;
    overflow: hidden;
    
}
li.container_infomation_item
{
    font-size: 12px;
    line-height:16px;
    font-weight:normal;
    color: rgb(128,128,137);
}
.container_infomation_item .heading
{
    font-size:16px;
    line-height:24px;
    font-weight:500;
    color: rgb(56,56,61);
    margin-bottom:12px;
}
.container_infomation_item p.hot-line
{
    margin-bottom:8px;
}
.container_infomation_item p
{
    font-size:12px;
    line-height:16px;
    color: rgb(128,128,137);
}
.container_infomation_item p.hot-line a
{
    color: rgb(56,56,61);
    font-weight:500;
}
.container_infomation_item a.footer_links
{
    display:block;
    margin-bottom:8px;
    color: rgb(128,128,137);
}
.container_infomation_item .footer_links_title
{
    display: flex;
}
.container_infomation_item a.footer_links:hover
{
    text-decoration: underline;
}
.container_infomation_item .sub_titles{
    margin: 24px 0 12px;
}
.container_infomation_item .img_certification
{
    display: flex;
    width: 100%;
    gap:8px
}
.container_infomation_item .img_certification img
{
    height:36px;
}
.container_infomation_item .payment
{
    width:90%;
    margin-bottom: 12px;
    overflow: hidden;
}
.container_infomation_item .payment img
{
    width:100%;
    object-fit: cover;
}

.container_infomation_item .tiki_now
{
    display:block;
}
.container_infomation_item .tiki_now img
{
    height:40px;
}
.container_infomation_item .download
{
    display: flex;
    gap:8px
}
.container_infomation_item .download .download_qr
{
    width:80px;
    height:80px;
    object-fit: cover;
}
.container_infomation_item .download .download_link
{
    display: flex;
    flex-direction:column;
    width: 120px;
    justify-content:space-between;
}
.container_infomation_item .download .download_link img
{
    width:120px;
    height:36px;
    object-fit: cover;
}